build
source/sokol/app/sokol_app_macos_arm64_gl_debug.a
source/sokol/app/sokol_app_macos_arm64_gl_release.a
source/sokol/app/sokol_app_macos_arm64_metal_debug.a
source/sokol/app/sokol_app_macos_arm64_metal_release.a
source/sokol/app/sokol_app_macos_x64_gl_debug.a
source/sokol/app/sokol_app_macos_x64_gl_release.a
source/sokol/app/sokol_app_macos_x64_metal_debug.a
source/sokol/app/sokol_app_macos_x64_metal_release.a
source/sokol/audio/sokol_audio_macos_arm64_gl_debug.a
source/sokol/audio/sokol_audio_macos_arm64_gl_release.a
source/sokol/audio/sokol_audio_macos_arm64_metal_debug.a
source/sokol/audio/sokol_audio_macos_arm64_metal_release.a
source/sokol/audio/sokol_audio_macos_x64_gl_debug.a
source/sokol/audio/sokol_audio_macos_x64_gl_release.a
source/sokol/audio/sokol_audio_macos_x64_metal_debug.a
source/sokol/audio/sokol_audio_macos_x64_metal_release.a
source/sokol/debugtext/sokol_debugtext_macos_arm64_gl_debug.a
source/sokol/debugtext/sokol_debugtext_macos_arm64_gl_release.a
source/sokol/debugtext/sokol_debugtext_macos_arm64_metal_debug.a
source/sokol/debugtext/sokol_debugtext_macos_arm64_metal_release.a
source/sokol/debugtext/sokol_debugtext_macos_x64_gl_debug.a
source/sokol/debugtext/sokol_debugtext_macos_x64_gl_release.a
source/sokol/debugtext/sokol_debugtext_macos_x64_metal_debug.a
source/sokol/debugtext/sokol_debugtext_macos_x64_metal_release.a
source/sokol/gfx/sokol_gfx_macos_arm64_gl_debug.a
source/sokol/gfx/sokol_gfx_macos_arm64_gl_release.a
source/sokol/gfx/sokol_gfx_macos_arm64_metal_debug.a
source/sokol/gfx/sokol_gfx_macos_arm64_metal_release.a
source/sokol/gfx/sokol_gfx_macos_x64_gl_debug.a
source/sokol/gfx/sokol_gfx_macos_x64_gl_release.a
source/sokol/gfx/sokol_gfx_macos_x64_metal_debug.a
source/sokol/gfx/sokol_gfx_macos_x64_metal_release.a
source/sokol/gl/sokol_gl_macos_arm64_gl_debug.a
source/sokol/gl/sokol_gl_macos_arm64_gl_release.a
source/sokol/gl/sokol_gl_macos_arm64_metal_debug.a
source/sokol/gl/sokol_gl_macos_arm64_metal_release.a
source/sokol/gl/sokol_gl_macos_x64_gl_debug.a
source/sokol/gl/sokol_gl_macos_x64_gl_release.a
source/sokol/gl/sokol_gl_macos_x64_metal_debug.a
source/sokol/gl/sokol_gl_macos_x64_metal_release.a
source/sokol/glue/sokol_glue_macos_arm64_gl_debug.a
source/sokol/glue/sokol_glue_macos_arm64_gl_release.a
source/sokol/glue/sokol_glue_macos_arm64_metal_debug.a
source/sokol/glue/sokol_glue_macos_arm64_metal_release.a
source/sokol/glue/sokol_glue_macos_x64_gl_debug.a
source/sokol/glue/sokol_glue_macos_x64_gl_release.a
source/sokol/glue/sokol_glue_macos_x64_metal_debug.a
source/sokol/glue/sokol_glue_macos_x64_metal_release.a
source/sokol/log/sokol_log_macos_arm64_gl_debug.a
source/sokol/log/sokol_log_macos_arm64_gl_release.a
source/sokol/log/sokol_log_macos_arm64_metal_debug.a
source/sokol/log/sokol_log_macos_arm64_metal_release.a
source/sokol/log/sokol_log_macos_x64_gl_debug.a
source/sokol/log/sokol_log_macos_x64_gl_release.a
source/sokol/log/sokol_log_macos_x64_metal_debug.a
source/sokol/log/sokol_log_macos_x64_metal_release.a
source/sokol/shape/sokol_shape_macos_arm64_gl_debug.a
source/sokol/shape/sokol_shape_macos_arm64_gl_release.a
source/sokol/shape/sokol_shape_macos_arm64_metal_debug.a
source/sokol/shape/sokol_shape_macos_arm64_metal_release.a
source/sokol/shape/sokol_shape_macos_x64_gl_debug.a
source/sokol/shape/sokol_shape_macos_x64_gl_release.a
source/sokol/shape/sokol_shape_macos_x64_metal_debug.a
source/sokol/shape/sokol_shape_macos_x64_metal_release.a
source/sokol/time/sokol_time_macos_arm64_gl_debug.a
source/sokol/time/sokol_time_macos_arm64_gl_release.a
source/sokol/time/sokol_time_macos_arm64_metal_debug.a
source/sokol/time/sokol_time_macos_arm64_metal_release.a
source/sokol/time/sokol_time_macos_x64_gl_debug.a
source/sokol/time/sokol_time_macos_x64_gl_release.a
source/sokol/time/sokol_time_macos_x64_metal_debug.a
source/sokol/time/sokol_time_macos_x64_metal_release.a
source/shader.odin
source/systems/render/shader.odin
source/types/game/generated_font.odin
source/types/game/generated_sprite.odin
source/libs/sokol/time
source/libs/sokol/shape
source/libs/sokol/log
source/libs/sokol/glue
source/libs/sokol/gl
source/libs/sokol/gfx
source/libs/sokol/debugtext
source/libs/sokol/audio
source/libs/sokol/app
source/core/render/shader.odin
